<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ConfigApps</display-name>
  <context-param>
    <param-name>password</param-name>
    <param-value>2002ckc+</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcUrl</param-name>
    <param-value>jdbc:mysql:///studentproject</param-value>
  </context-param>
  <servlet>
    <servlet-name>ConfigApp</servlet-name>
    <servlet-class>in.ineuron.ConfigApp</servlet-class>
    <init-param>
      <param-name>password</param-name>
      <param-value>2002ckc+</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql:///studentproject</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigApp</servlet-name>
    <url-pattern>/config</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContextApp</servlet-name>
    <servlet-class>in.ineuron.ContextApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextApp</servlet-name>
    <url-pattern>/contextConfig</url-pattern>
  </servlet-mapping>
</web-app>